<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FraudBnB - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
     <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css'><link href="static/css/sb-admin-2.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

</head>

<body id="page-top">
<div class="bg"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" id="listingValue" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" onclick="searchButtonClicked()">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">June 11, 2021</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>

                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">May 11, 2021</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>

                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">November 18, 2020</div>
                                        Alert: Suspicious reviewer detected
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{authenticated_user}}</span>
                                <img class="img-profile rounded-circle"
                                    src="static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                  <!--   My addition -->


                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card card-flip bg-success h-100 py-2">
                                 <div class ="card-front text-white">
                                <div class="card-body text-white">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                             <h2 class="h6 font-weight-bold text-center mb-4">Overall Reliability</h2>
                                            <div class="progress" data-percentage= "{{ overall_reliability|tojson }}">
                                                <span class="progress-left">
                                                    <span class="progress-bar"></span>
                                                </span>
                                                <span class="progress-right">
                                                    <span class="progress-bar"></span>
                                                </span>
                                                <div class="progress-value w-100 h-100 d-flex align-items-center justify-content-center">
                                                    <div>
                                                        {{overall_reliability}}%<br></br>
                                                        <span>Reliability</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                 </div>
                                <div class="card-back bg-dark">
                    <div class="card-body">
                        <h3 class="card-title">What is Overall Reliability?</h3>
                        <p class="card-text">This metric is the average of Host,Review and Raters Reliability.</p>

                    </div>
                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card card-flip bg-warning h-100 py-2">
                                <div class ="card-front text-white">
                                <div class="card-body text-white">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h2 class="h6 font-weight-bold text-center mb-4">Reviews Reliability</h2>
                                            <div class="progress" data-percentage="{{ review_reliability|tojson }}">
                                                <span class="progress-left">
                                                    <span class="progress-bar border-danger"></span>
                                                </span>
                                                <span class="progress-right">
                                                    <span class="progress-bar border-danger"></span>
                                                </span>
                                                <div class="progress-value w-100 h-100 d-flex align-items-center justify-content-center">
                                                    <div>
                                                        {{review_reliability}}%<br></br>
                                                        <span>Reliability</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="card-back bg-dark">
                    <div class="card-body">
                        <h3 class="card-title">What is Reviews Reliability?</h3>
                        <p class="card-text">This metric measures whether the listing is reliable according to reviews.
                            It uses sentiment classification score and looks for words terms such as Host cancellation<p>

                    </div>
                </div>

                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card card-flip bg-info h-100 py-2">
                                <div class ="card-front text-white">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h2 class="h6 font-weight-bold text-center mb-4">Raters Reliability</h2>
                                            <div class="progress" data-percentage="{{ reviewer_reliability|tojson }}">
                                                <span class="progress-left">
                                                    <span class="progress-bar progress-bar-striped progress-bar-animated border-primary"></span>
                                                </span>
                                                <span class="progress-right">
                                                    <span class="progress-bar progress-bar-striped progress-bar-animated border-primary"></span>
                                                </span>
                                                <div class="progress-value w-100 h-100 d-flex align-items-center justify-content-center">
                                                    <div>
                                                        {{reviewer_reliability}}%<br></br>
                                                        <span>Reliability</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                                 <div class="card-back bg-dark">
                    <div class="card-body">
                        <h3 class="card-title">What is Raters Reliability?</h3>
                        <p class="card-text">This metric measures whether the raters who left reviews on the listing are reliable or not.
                        Sometimes fake reviewers may try to boost ratings of a fraud listing. We look at review similarity, frequency of reviews
                            left by the reviewer and time difference between the reviews.
                        </p>

                    </div>
                </div>


                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card card-flip bg-primary  h-100 py-2">
                                <div class ="card-front text-white">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <h2 class="h6 font-weight-bold text-center mb-4"> Hosts Reliability</h2>
                                             <div class="progress text-white" data-percentage="{{ host_reliability|tojson }}">
                                                <span class="progress-left">
                                                    <span class="progress-bar progress-bar-striped progress-bar-animated border-success"></span>
                                                </span>
                                                <span class="progress-right">
                                                    <span class="progress-bar progress-bar-striped progress-bar-animated border-success"></span>
                                                </span>
                                                <div class="progress-value w-100 h-100 d-flex align-items-center justify-content-center">
                                                    <div>
                                                        {{host_reliability}}%<br></br>
                                                        <span>Reliability</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                                <div class="card-back bg-dark">
                    <div class="card-body">
                        <h3 class="card-title">What is Host Reliability?</h3>
                        <p class="card-text">This metric measures whether the host is reliable or not based on listing availability, listing price and host cancellations</p>

                    </div>
                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Column Chart -->
                        <div class="col-xl-6 col-md-5 mb-4">

                        <div class="card text-center mb-3" style="max-width: 55rem;height: 20rem">
                            <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #00AA9E;">
                                <h6 class="m-0 font-weight-bold text-white">Average Review Sentiment Score</h6>

                            </div>
                            <!-- Card Body -->
                        <div class="card-body align-items-center">
                            <div class="row no-gutters">
                                <div class="col mr-2">
                                    <div class="container">
                          
                            <canvas id="ReviewsChart" style="width:100%;max-width:700px;max-height:250px"></canvas>

                            <script>
                            var xValues = {{dates|tojson|safe}};
                            var yValues =  {{avg_review_sentiment_scores|tojson|safe}};
                            var barColors = [  'rgba(51, 153, 235, 0.6)','rgba(51, 153, 235, 0.6)','rgba(51, 153, 235, 0.6)','rgba(51, 153, 235, 0.6)'];
                            var bordercolors = [  'rgb(51, 153, 235)','rgb(51, 153, 235)','rgb(51, 153, 235)','rgb(51, 153, 235)'];


                            new Chart("ReviewsChart", { 
                            type: "bar",
                            data: {
                                labels: xValues,
                                datasets: [{
                                backgroundColor: barColors,
                                borderColor:bordercolors,
                                borderWidth:2,
                                data: yValues
                                }]
                            },
                            options: {
                                legend: {display: false},
                                title: {
                                display: false
                                
                                },
                                indexAxis: 'x',
                                responsive: true
                            }
                            });
                            </script>
                            </div>
                            </div>
                            </div>
                            </div>


                        </div>
                        </div>

                        <!--- Small cards---->
                        <div class="col">
                            <div class="card special-card text-white bg-danger mb-3" style="max-width: 18rem;height: 9.5rem">

                        <div class="card-body">
                            <h5 class="card-title">Number of Fraud Reviewers</h5>
                            <h4 class="card-text text-center ">{{fraud_reviewers|safe}}</h4>
                        </div>
                        </div>
                            <div class="card special-card text-white bg-info mb-3" style="max-width: 18rem;height: 9.5rem">

                        <div class="card-body">
                            <h5 class="card-title">Number of Host Cancellations</h5>
                            <h4 class="card-text text-center ">{{host_cancellations|safe}}</h4>
                        </div>
                        </div>

                        </div>



                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #00AA9E;">
                                    <h6 class="m-0 font-weight-bold text-white">Review Sentiment Distribution</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <canvas id="myChart" height="225" style="width:100%;max-width:700px"></canvas>
                                        <script>
                                        var xValues = {{sentiments|tojson|safe}};
                                        var yValues =  {{sentiment_values|tojson|safe}};
                                        var barColors = [
                                        "#6AD5CB",
                                           "#ffba08",
                                          "#ff6361"

                                        ];

                                        new Chart("myChart", {
                                          type: "doughnut",
                                          data: {
                                            labels: xValues,
                                            datasets: [{
                                              backgroundColor: barColors,
                                              data: yValues
                                            }]
                                          },
                                          options: {
                                            title: {
                                              display: false
                                            },
                                              animation: {
                                                animateRotate:true,
                                                  animateScale:true
                                              }
                                          }
                                        });
                                        </script>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <!-- Line Chart -->
                        <div class="col-xl-6 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #00AA9E;">
                                    <h6 class="m-0 font-weight-bold text-white">Monthly Rating of Host</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <canvas id="monthly_rating_chart" style="width:100%;max-width:900px;max-height: 250px;"></canvas>

                                            <script>
                                            var xValues ={{dates|tojson|safe}};
                                            var yValues = {{avg_rating_scores|tojson|safe}};

                                            new Chart("monthly_rating_chart", {
                                            type: "line",
                                            data: {
                                                labels: xValues,
                                                datasets: [{
                                                fill: false,
                                                lineTension: 0,
                                                backgroundColor: "rgba(129, 178, 154,1.0)",
                                                borderColor: "rgba(129, 178, 154 ,0.3)",
                                                borderWidth: 4,
                                                data: yValues
                                                }]
                                            },
                                            options: {
                                                legend: {display: false},
                                title: {
                                display: false
                                
                                }
                                            }
                                            });
                                            </script>
                                                                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Vertical Bar Chart -->
                        <div class="col-xl-6 col-lg-7">
                            <div class="card shadow mb-4" style="max-height:60 rem">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #00AA9E;">
                                    <h6 class="m-0 font-weight-bold text-white">Availability of Listing</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body align-items-center">
                                    <div class="container-fluid">
                                        <canvas id="ListingChart" style="width:120%;max-width:600px;max-height:250px"></canvas>

                            <script>
                            var xValues = {{dates|tojson|safe}};
                            var yValues = {{listing_availability|tojson|safe}};
                            var barColors = [  'rgba(230, 57, 70, 0.6)','rgba(230, 57, 70, 0.6)','rgba(230, 57, 70, 0.6)','rgba(5230, 57, 70, 0.6)'];
                            var bordercolors = ['rgb(230, 57, 70)','rgb(230, 57, 70)','rgb(230, 57, 70)','rgb(230, 57, 70)']

                            new Chart("ListingChart", {
                            type: 'horizontalBar',
                            data: {
                                axis: 'y',
                                labels: xValues,
                                datasets: [{
                                backgroundColor: barColors,
                                borderColor:bordercolors,
                                borderWidth:2,
                                data: yValues
                                }]
                            },
                            options: {
                                legend: {display: false},
                                title: {
                                display: false
                                
                                },
                                indexAxis: 'y'
                            }
                            });
                            </script>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                    </div>

                </div>

                <!-- /.container-fluid -->

            </div>


            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; FraudBnB 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/about">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/chart-area-demo.js"></script>
    <script src="static/js/demo/chart-pie-demo.js"></script>


    <script>
        $(function () {
            $(".progress").each(function (key, bar) {
                var percentage = $(this).data("percentage");
                let deg = percentage * 3.6
                let leftdeg = (percentage * 3.6) - 180
                let leftCalculation =  [{
                    '-webkit-transform': 'rotate(0)',
                    transform: 'rotate(0)'
                },{
                    '-webkit-transform': 'rotate('+ leftdeg+')',
                    transform: 'rotate('+ leftdeg+'deg)'
                }];
                
                let rightCalculation = [{
                    '-webkit-transform': 'rotate(0)',
                    transform: 'rotate(0)'
                },{
                    '-webkit-transform': 'rotate('+ deg+')',
                    transform: 'rotate('+ deg+'deg)'
                }];

                let fullRight = [{
                    '-webkit-transform': 'rotate(0)',
                    transform: 'rotate(0)'
                },{
                    '-webkit-transform': 'rotate(180)',
                    transform: 'rotate(180deg)'
                }];
                
                if(percentage <= 50){
                    $(this).children()[1].children[0].animate(
                        rightCalculation,
                        { 
                            "duration":1000, 
                            "easing": "linear",
                            "fill":"forwards",
                        }
                    );
                } else {
                    $(this).children()[0].children[0].animate(
                        leftCalculation,
                        { 
                            "duration":1000, 
                            "easing": "linear",
                            "fill":"forwards",
                            "delay":1000
                        }
                    );
                    $(this).children()[1].children[0].animate(
                        fullRight,
                        {
                            "duration":1000, 
                            "easing": "linear",
                            "fill":"forwards",
                        }
                    );

                }
            });
        });
        function searchButtonClicked(){
            let inputVal = document.getElementById("listingValue").value;
            console.log("input is", inputVal);
            history.pushState({}, null, "/dashboard?key="+inputVal);
            location.reload();
        }
    </script>

</body>

</html>
