<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>

  <!-- ======= Header ======= -->
  {% include "navbar.html" %}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">

    <div>
      <div class="container text-center text-md-left" data-aos="fade-up">
        <h1>Welcome to FraudBnB</h1>
        <h2>We are team of talented data scientists working to make vacation rental sites reliable.</h2>
        <a href="#about" class="btn-get-started scrollto">About FraudBnB</a>
      </div>
    </div>
    
  </section><!-- End Hero -->
  
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-7" data-aos="fade-right">
            <img src="static/assets/img/logo.png" class="img-fluid" alt="what a pretty logo">
          </div>
          <div class="col-xl-7 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Why FraudBnB?</h3>
            <p data-aos="fade-up">
                Vacation rental scams have been prevalent since well before the pandemic, so why haven’t rental websites such as Airbnb incorporated scam detection into their products?
            </p>
            <p data-aos="fade-up">
                A team member recently experienced this scenario - the 15 person family arrived at a beautiful Beverly Hills mansion after having paid a large sum of money, only to find out that the mansion, in fact, did not exist. While they got their money back, the situation could have been completely avoided with proper vetting, and the experience was left wanting.
            </p>
            <p data-aos="fade-up">
                Our product will take into account several factors such as listing reviews, host reviews, analysis of pictures and address verification in order to establish trust and reliability for the consumer renting on Airbnb.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>At FraudBnB, we aim to continuously introduce new features to better serve our customers.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Listing Performance Dashboard</a></h4>
              <p class="description">Real time summary of your listing performances.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box icon-box-blue">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Listing Score Map</a></h4>
                <p class="description">Easily identify areas with high prevalence of problematic listings.</p>
            </div>
          </div>


        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Listing Analysis Reports</a></h4>
                <p class="description">Detailed analysis of each of your listings with suggestions for improvements.</p>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Custom Analysis and Dashboard</a></h4>
              <p class="description">Request custom analysis of your data.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Meet the FraudBnB Team</h2>
          <p>We are a team of talented data scientists currently working towards our masters in Data Science at the University of San Francisco. Feel free to reach out to us, we would love to connect with you.</p>
        </div>

        <!-- ======= Row 1 ======= -->
        <div class="row">

          <!-- ======= Hashneet ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <img src="static/assets/img/team/hashneet.png" class="img-fluid" alt="Hashneet Kaur">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Hashneet Kaur</h4>
                  <span>Chief Executive Officer</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/hashneetkaur/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Phillip ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="static/assets/img/team/phillip.png" class="img-fluid" alt="Phillip Navo">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Phillip Navo</h4>
                  <span>Chief Technology Officer</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/pnavo/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Audrey ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/assets/img/team/audrey.png" class="img-fluid" alt="Audrey Barszcz">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Audrey Barszcz</h4>
                  <span>Engineer</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/audrey-barszcz/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Jordan ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="static/assets/img/team/jordan.png" class="img-fluid" alt="Jordan Uyeki">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jordan Uyeki</h4>
                  <span>Data Scientist</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/jordanuyeki/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Kaiqi ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
            <div class="member">
              <img src="static/assets/img/team/kaiqi.png" class="img-fluid" alt="Kaiqi Guo">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kaiqi Guo</h4>
                  <span>Engineer</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/kaiqi-g/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Sandhya ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="static/assets/img/team/sandhya.png" class="img-fluid" alt="Sandhya Donthireddy">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sandhya Donthireddy</h4>
                  <span>Engineer</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/sandhya-donthireddy/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Shruti ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/assets/img/team/shruti.png" class="img-fluid" alt="Shruti Roy">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Shruti Roy</h4>
                  <span>Data Scientist</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/shruti-roy/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- ======= Vaishnavi ======= -->
          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="static/assets/img/team/vaishnavi.png" class="img-fluid" alt="Vaishnavi Kashyap">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Vaishnavi Kashyap</h4>
                  <span>Data Scientist</span>
                </div>
                <div class="social">
                  <a href="https://www.linkedin.com/in/vaishnavi-kashyap/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div> <!-- End of second row? -->


    </section><!-- End Team Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Here we have answered some of our most frequently asked questions. If your question is not answered here, please reach out to us directly and we would be happy to assist.</p>
        </div>

        <div class="faq-list">
          <ul>

            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-1" class="collapsed">
             What areas are currently supported by your product?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Our dashboard and map currently support listings from the Greater Los Angeles area. However, we are currently working to expand our coverage to other areas all over the world. Feel free to reach out to us directly to inquire about the status of your specific areas of interest.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
              What are the fees associated with your product? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Our product is risk-free and your company will not be charged if the product does not work for you. We charge a flat rate of 20% of any revenue that your company saves through the use of our fraud detection systems.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
              What does my company get if we sign up to use your services? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Once you sign up, our engineering team will tailor our baseline algorithms to your data. Your customized models and algorithms will can then be easily integrated into your company's infrastructure. Our technical support team will be readily available to assist you with any problems that may arise.
                </p>
                <p>
                  In addition, we offer a custom dashboard and interactive map that makes it simple to see the overall health of your company's listings.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
              How do you determine the reliability of a listing? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  We analyze all of your listing reviews, using natural language processing techniques, to determine a reliability score for the specific listing.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
              How can I download a report of my listings? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The FraudBnB team is working hard on this feature; the option to download reports will be available soon!
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->
    
  <!-- ======= Footer ======= -->
 {% include "footer.html" %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>
{% include "chatbot.html" %}
</html>