<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
    {% include "navbar.html" %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
          <div class="container">

            <div class="d-flex justify-content-between align-items-center">
              <h2>Login To Access Your Tools!</h2>
              <ol>
                <!-- <li><a href="index.html">Home</a></li> -->
                <li>Login Page</li>
              </ol>
            </div>

          </div>
        </section><!-- End Breadcrumbs Section -->


        <section class="inner-page">

            <div class="container">
                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.username.label}} <br/>
                    {{form.username()}} <br/>
                    {{ form.password.label}} <br/>
                    {{form.password()}}<br/>
                    <br/>
                    {{ form.submit()}}
                </form>
            </br>
            </div> <!-- /container -->
        </section>

      </main><!-- End #main -->

{% include "footer.html" %}

</body>
</html>
